<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Cyberbullying Detector</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body{
            background-color: whitesmoke;
        }
    </style>
</head>
<body>
    <header class="bg-gray-800 py-4">
        <nav class="container mx-auto flex justify-between items-center">
            <h1 class="text-2xl text-gray-200"> Cyberbullying Detector</h1>
            <ul class="flex items-center">
                <li class="mr-6"><a href="home.html" class="text-gray-200 hover:text-white" onclick="loadpage('home.html')">Home</a></li>
                <li class="mr-6"><a href="Abt.html" class="text-gray-200 hover:text-white" onclick="loadpage('Abt.html')">About</a></li>
                <li><a href="Cntact.html" class="text-gray-200 hover:text-white" onclick="loadpage('Cntact.html')">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main class="container mx-auto p-4">
        <section class="about py-12">
            <h1 class="text-3xl font-bold mb-4">About Cyberbullying Detector</h1>
            <p class="text-lg mb-8"> Cyberbullying Detector is a machine learning-based project that aims to detect cyberbullying with high accuracy. Our goal is to provide a reliable and efficient solution to help users avoid falling victim to any kinds of bullying online.</p>
            <h2 class="text-2xl font-bold mb-4">Our Mission</h2>
            <p class="text-lg mb-8">Our mission is to create a safe and secure online environment by detecting and preventing cyberbullying. We believe that everyone has the right to browse the internet without fear of being bullied.</p>
        </section>
    </main>
</body>
</html>